<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navhub.mapper.SiteConfigMapper">
    
    <resultMap id="SiteConfigResultMap" type="com.navhub.entity.SiteConfig">
        <id property="id" column="id"/>
        <result property="siteName" column="site_name"/>
        <result property="siteTitle" column="site_title"/>
        <result property="siteLogo" column="site_logo"/>
        <result property="siteDescription" column="site_description"/>
        <result property="icpRecord" column="icp_record"/>
        <result property="publicSecurityRecord" column="public_security_record"/>
        <result property="publicSecurityRecordUrl" column="public_security_record_url"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    
    <select id="findById" resultMap="SiteConfigResultMap">
        SELECT * FROM site_config WHERE id = #{id}
    </select>
    
    <insert id="insert">
        INSERT INTO site_config (
            id, site_name, site_title, site_logo, site_description,
            icp_record, public_security_record, public_security_record_url,
            created_at, updated_at
        )
        VALUES (
            #{id}, #{siteName}, #{siteTitle}, #{siteLogo}, #{siteDescription},
            #{icpRecord}, #{publicSecurityRecord}, #{publicSecurityRecordUrl},
            #{createdAt}, #{updatedAt}
        )
    </insert>
    
    <update id="update">
        UPDATE site_config
        <set>
            <if test="siteName != null">site_name = #{siteName},</if>
            <if test="siteTitle != null">site_title = #{siteTitle},</if>
            <if test="siteLogo != null">site_logo = #{siteLogo},</if>
            <if test="siteDescription != null">site_description = #{siteDescription},</if>
            <if test="icpRecord != null">icp_record = #{icpRecord},</if>
            <if test="publicSecurityRecord != null">public_security_record = #{publicSecurityRecord},</if>
            <if test="publicSecurityRecordUrl != null">public_security_record_url = #{publicSecurityRecordUrl},</if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
</mapper>

